.form-horizontal .form-group label{
    font-family: 宋体;
    font-size: large;
    font-weight: normal;
}
#emailLabel, #passwordLabel{
    text-align: right;
    margin: 0;
}

#registerForm .form-horizontal .form-group label{
    text-align: right;
    margin: 0;
}

